.nav{
    display: flex;
    flex-direction: row;

    background-color: #b799bf57;
    height: 120px;
    
}


.links{
    display: flex;
    justify-content:flex-end;
    margin: auto;
    margin-top: 45px;
    margin-right: 40px;
    padding-right: 50px;
    
}

.link{
    padding: 20px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: aliceblue;
}

.avatar{
    width: 56px;
    height: 56px;
}


.link:hover{
    color: #b6b6b6fb;
}

.link:active{
    color: #b6b6b6fb;
}

.linksresponsive{
    display: none;
}


@media only screen and (max-width:851px) {
    .links{
        display:none
    }
    .linksresponsive{
        display: flex;
        margin: auto;
        margin-left: 70%;
        background-color: #2e2e2e;
    }
    .popover {
        display: flex;
        flex-direction: column;
        background-color: #2e2e2e;
        padding: 8px;
        border-radius: 4px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
      }
      
}


@media only screen and (max-width:500px) {

    .links{
        display:none
    }
    .linksresponsive{
        display: flex;
        margin: auto;
        margin-left: 50%;
        background-color: #2e2e2e;
    }
    .popover {
        display: flex;
        flex-direction: column;
        background-color: #2e2e2e;
        padding: 8px;
        border-radius: 4px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
      }
}