.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9%;
    margin-left: 3%;
    width:50%;
}

.container2{
    width: 50%;
    margin-right: 100px;
    margin-top: 7%;
}

.bloque{
    display: flex;
  flex-direction: row;
}

.boton{
    margin-top:7;
    scale:1.2; 
    color:"#EAE7EC"; 
    background-color:"#b799bf57"
}





@media only screen and (max-width:851px) {

    .bloque{
        display: flex;
        flex-direction: column;
        scale: 0.7;
    }

    .container{
        width: 100%;
        display: flex;
    }

}

@media only screen and (max-width:500px) {

    .bloque{
        display: flex;
        flex-direction: column;
        scale: 0.5;
        align-items: flex-start;
    }

    .container{
        width: 100%;
        display: flex;
    }

    .container2{
        display: block;
    }

}